@import 'base/normalize';
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;700;900&display=swap');
@import 'base/variables';
@import 'base/_mixins';
@import 'base/globales';
@import 'base/utilidades';
@import 'layout/header';
@import 'layout/video';
@import 'layout/info-Festival';
@import 'layout/lineup';
@import 'layout/galeria';
@import 'layout/boletos';
@import 'layout/footer';