/* Custom Properties */
:root {
  --primario: #9c27b0;
  --priOscuro: #89119d;
  --secundarioOsc: rgb(233, 287, 2);
  --blanco: #fff;
  --negro: #000;

  --fuentePrin: "Staatliches", cursive;
}
/* Paul Irish, modelo de cajas tamaños */
html {
  box-sizing: border-box;
  /* Tamaño de letra 1rem=16px ,luego 62.5% seria 10/16= 62.5% => 1 rem=10px*/
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* Globales */
body {
  background-color: var(--primario);
  font-size: 1.6rem;
  line-height: 1.5;
}
p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blanco);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--secundarioOsc);
  font-family: var(--fuentePrin);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
/* Header */
.header {
  display: flex;
  justify-content: center;
}
.header__logo {
  margin-top: 3rem 0;
}

/* Navegacion */
.navegacion {
  background-color: var(--priOscuro);
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.navegacion__enlace {
  font-family: var(--fuentePrin);
  color: var(--blanco);
  font-size: 3rem;
}
.navegacion__enlace:hover,
.navegacion__enlace--activo {
  color: var(--secundarioOsc);
}
/* Footer */
.footer{
    background-color: var(--priOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto{
    font-size: 2.2rem;
    text-align: center;
    font-family: var(--fuentePrin);
}