html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
@media (min-width:480px){
    .con-sidebar{
        display: grid;
        grid-template-columns: 1fr 3fr;/* Definimos las francciones que tendran los 2 hijos */
        column-gap: 3rem;/* Margen para separar hijos */
    }
    aside{
        grid-column: 1 / 2;/* Posiciona de la columna 1 a la 2 */
        grid-row: 1 / 2;/* Posiciona la fila de 1 a la 2 */
    }
    article{
        grid-column: 2 / 3;
    }
}
@media (min-width:678px){
    .con-sidebar{
        display: flex;
    }
}