html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e510be+1,bd0fe0+50,a246db+100 */
    background: #e510be;
    /* Old browsers */
    background: -moz-linear-gradient(top, #e510be 1%, #bd0fe0 50%, #a246db 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e510be 1%, #bd0fe0 50%, #a246db 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e510be 1%, #bd0fe0 50%, #a246db 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e510be', endColorstr='#a246db', GradientType=0);
    /* IE6-9 */
    background-attachment: fixed;
}

header {
    text-align: center;
    padding: 40px 0;
}

img {
    max-width: 100%;
}

.contenedor {
    max-width: 1080px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

.hero {
    margin-bottom: 40px;
}

.lista-productos {
    padding: 0;
    list-style: none;
}

.lista-productos li {
    float: left;
    width: 50%;
    padding: 17px;
    text-align: center;
}

.lista-productos li:nth-child(2n+1) {
    clear: both;
}

@media (min-width: 768px) {
    .lista-productos li {
        width: 33.3%;
    }

    .lista-productos li:nth-child(2n+1) {
        clear: unset;
    }

    .lista-productos li:nth-child(3n+1) {
        clear: both;
    }
}

.lista-productos li img {
    border: 10px solid rgba(128, 1, 195, .5);
    transition: border-color .3s ease-in-out;
}

.lista-productos li img:hover {
    border: 10px solid rgba(128, 1, 195, 1);
}

.lista-productos li p {
    font-size: 28px;
    font-weight: 700;
    margin: 10px 0 0 0;
}

span.precio {
    color: rgb(205, 236, 27);
    font-size: 38px;
}

.boton {
    background-color: rgb(205, 236, 27);
    padding: 10px 40px;
    margin-top: 10px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #9705f1;
    transition: background-color .3s ease-in-out;
}

.boton:hover {
    background-color: rgb(246, 222, 2);
}