$fuentePrincipal: 'Montserrat', sans-serif;


// Colores
$verde: #4cb8b3;
$rosa: #f53756;
$amarillo: #fef46d;
$morado: #f52f97;
$negro: #000;
$blanco: #fff;

// Media QUeries
$telefono: 30rem;
$tablet: 48rem;
$desktop: 75rem;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
// Separaciones
$separacion: 5rem;
